In [1]:
import pandas as pd
import numpy as np
import pickle

%matplotlib inline
import matplotlib.pyplot as plt

# Read data from disk

In [2]:
titanic_clf = pd.read_csv('../Datasets/titanic_classification.csv')
titanic_clf.head()

   Pclass  Gender   Age  SibSp  Parch     Fare  Emb_C  Emb_Q  Emb_S  Survived
0       3       0  22.0      1      0   7.2500      0      0      1         0
1       1       0  38.0      1      0  71.2833      1      0      0         1
2       3       0  26.0      0      0   7.9250      0      0      1         1
3       1       0  35.0      1      0  53.1000      0      0      1         1
4       3       0  35.0      0      0   8.0500      0      0      1         0

# Load the models required for this notebook

In [3]:
with open('../../Chapter06/Saved Models/random_forest_clf.pkl', 'rb') as f:
    rf = pickle.load(f)

# k-Fold Cross Validation with Stratified Sampling

In [4]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import StratifiedKFold
from sklearn.ensemble import RandomForestClassifier

In [5]:
X = titanic_clf.iloc[:, :-1].values
y = titanic_clf.iloc[:, -1].values

skf = StratifiedKFold(n_splits=5)

In [6]:
scores = []

for train_index, val_index in skf.split(X, y):
    X_train, X_val = X[train_index], X[val_index]
    y_train, y_val = y[train_index], y[val_index]
    
    rf_skf = RandomForestClassifier(**rf.get_params())
    
    rf_skf.fit(X_train, y_train)
    y_pred = rf_skf.predict(X_val)
    
    scores.append(accuracy_score(y_val, y_pred))
    
scores

[0.6145251396648045,
 0.6983240223463687,
 0.7471910112359551,
 0.7808988764044944,
 0.711864406779661]

In [7]:
print('Mean Accuracy Score = {}'.format(np.mean(scores)))

Mean Accuracy Score = 0.7105606912862568