In [1]:
import pandas as pd
import numpy as np
import pickle

%matplotlib inline
import matplotlib.pyplot as plt

# Read data from disk

In [2]:
titanic_clf = pd.read_csv('../Datasets/titanic_classification.csv')
titanic_clf.head()

   Pclass  Gender   Age  SibSp  Parch     Fare  Emb_C  Emb_Q  Emb_S  Survived
0       3       0  22.0      1      0   7.2500      0      0      1         0
1       1       0  38.0      1      0  71.2833      1      0      0         1
2       3       0  26.0      0      0   7.9250      0      0      1         1
3       1       0  35.0      1      0  53.1000      0      0      1         1
4       3       0  35.0      0      0   8.0500      0      0      1         0

# Load the models required for this notebook

In [3]:
with open('../../Chapter06/Saved Models/random_forest_clf.pkl', 'rb') as f:
    rf = pickle.load(f)

# Calculating Accuracy, Precision, Recall

In [4]:
from sklearn.metrics import (accuracy_score, confusion_matrix, precision_score,
                             recall_score, f1_score, precision_recall_curve)

In [5]:
X = titanic_clf.iloc[:, :-1].values
y = titanic_clf.iloc[:, -1].values

y_pred = rf.predict(X)
y_pred_probs = rf.predict_proba(X)[:, 1]

In [6]:
print('Accuracy Score = {}'.format(accuracy_score(y, y_pred)))

Accuracy Score = 0.6464646464646465

In [7]:
print(confusion_matrix(y_pred=y_pred, y_true=y))

[[547   2]
 [313  29]]

In [8]:
print('Precision Score = {}'.format(precision_score(y, y_pred)))
print('Recall Score = {}'.format(recall_score(y, y_pred)))

Precision Score = 0.9354838709677419
Recall Score = 0.0847953216374269

In [9]:
print('F1 Score = {}'.format(f1_score(y, y_pred)))

F1 Score = 0.15549597855227879