# 3.2 Importing the pandas Library

In [1]:
import pandas as pd

# 3.3 Creating a pandas Series

In [2]:
list1 = [1, 2, 3, 4, 5]
print(list1, end='\n\n')

series1 = pd.Series(list1)
print(series1, end='\n\n')

series2 = pd.Series(list1, index=['P', 'Q', 'R', 'S', 'T'])
print(series2, end='\n\n')

[1, 2, 3, 4, 5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

P    1
Q    2
R    3
S    4
T    5
dtype: int64

# 3.4 Creating a pandas DataFrame

In [3]:
# Creating from a 2D list
myList = [[1, 2, 3], [4, 5, 6]]
df1 = pd.DataFrame(myList)
print(df1, end='\n\n')

# Creating from a dictionary of lists
myDict = {'A':[1, 2, 3], 'B':[4, 5, 6]}
df2 = pd.DataFrame(myDict)
print(df2, end='\n\n')

   0  1  2
0  1  2  3
1  4  5  6

   A  B
0  1  4
1  2  5
2  3  6

In [4]:
myList2 = [[1, 2, 3, 4, 5], [10, 20, 30, 40, 50]]
df3 = pd.DataFrame(myList2, index = ['A', 'B'], columns = ['1st', '2nd', '3rd', '4th', '5th'])
df3

   1st  2nd  3rd  4th  5th
A    1    2    3    4    5
B   10   20   30   40   50

# 3.5 Using read_csv()

In [5]:
classData = pd.read_csv('pandasDemo.csv')

# 3.6 Exploring data in a DataFrame

In [6]:
classData.head(6)

  ModuleID Instructor      TA  Enrolment  Rating
0    CS101      Aaron    Vera       38.0     9.0
1    CS101       Beth   Carol        NaN     9.0
2    CS101     Calvin    Andy       28.0     7.0
3    CS102        Dan  Zidane       39.0     6.0
4    CS102      Aaron    Andy       32.0     NaN
5    CS102       Beth    Vera        NaN     7.0

In [7]:
classData.describe()

       Enrolment    Rating
count   9.000000  8.000000
mean   34.000000  7.875000
std     4.873397  1.125992
min    28.000000  6.000000
25%    30.000000  7.000000
50%    32.000000  8.000000
75%    39.000000  9.000000
max    40.000000  9.000000

# 3.7 Changing labels of row(s) and column(s)

In [8]:
classData = classData.rename(columns={'TA':'Assistant'}, index={0:'Row Zero',1:'Row One'})
classData.head()

         ModuleID Instructor Assistant  Enrolment  Rating
Row Zero    CS101      Aaron      Vera       38.0     9.0
Row One     CS101       Beth     Carol        NaN     9.0
2           CS101     Calvin      Andy       28.0     7.0
3           CS102        Dan    Zidane       39.0     6.0
4           CS102      Aaron      Andy       32.0     NaN

# 3.8 Selecting Data from a DataFrame

## 3.8.1 Selecting Columns

In [9]:
X1 = classData['ModuleID']
print(type(X1))

<class 'pandas.core.series.Series'>

In [10]:
X2 = classData[['ModuleID']]
X3 = classData[['ModuleID', 'Instructor']]
print(type(X2))
print(type(X3))
X3.head()

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

         ModuleID Instructor
Row Zero    CS101      Aaron
Row One     CS101       Beth
2           CS101     Calvin
3           CS102        Dan
4           CS102      Aaron

## 3.8.2 Selecting rows

### Using Boolean Arrays

In [11]:
arr1 = classData['ModuleID'] == 'CS101'
print(arr1)

Row Zero     True
Row One      True
2            True
3           False
4           False
5           False
6           False
7           False
8           False
9           False
10          False
Name: ModuleID, dtype: bool

In [12]:
classData[arr1]

         ModuleID Instructor Assistant  Enrolment  Rating
Row Zero    CS101      Aaron      Vera       38.0     9.0
Row One     CS101       Beth     Carol        NaN     9.0
2           CS101     Calvin      Andy       28.0     7.0

In [13]:
arr1 = classData['ModuleID'] == 'CS101'
arr2 = classData['Instructor'] == 'Aaron'
classData[arr1 & arr2]

         ModuleID Instructor Assistant  Enrolment  Rating
Row Zero    CS101      Aaron      Vera       38.0     9.0

In [14]:
classData[(classData['ModuleID'] == 'CS101') & (classData['Instructor'] == 'Aaron')]

         ModuleID Instructor Assistant  Enrolment  Rating
Row Zero    CS101      Aaron      Vera       38.0     9.0

### Using iloc[] or loc[]

In [15]:
classData.iloc[0]

ModuleID      CS101
Instructor    Aaron
Assistant      Vera
Enrolment        38
Rating            9
Name: Row Zero, dtype: object

In [16]:
classData.loc['Row Zero']

ModuleID      CS101
Instructor    Aaron
Assistant      Vera
Enrolment        38
Rating            9
Name: Row Zero, dtype: object

In [17]:
classData.iloc[[0]]

         ModuleID Instructor Assistant  Enrolment  Rating
Row Zero    CS101      Aaron      Vera       38.0     9.0

In [18]:
classData.loc[['Row Zero']]

         ModuleID Instructor Assistant  Enrolment  Rating
Row Zero    CS101      Aaron      Vera       38.0     9.0

In [19]:
classData.iloc[[0, 3, 4]]

         ModuleID Instructor Assistant  Enrolment  Rating
Row Zero    CS101      Aaron      Vera       38.0     9.0
3           CS102        Dan    Zidane       39.0     6.0
4           CS102      Aaron      Andy       32.0     NaN

In [20]:
classData.loc[['Row Zero', 3, 4]]

         ModuleID Instructor Assistant  Enrolment  Rating
Row Zero    CS101      Aaron      Vera       38.0     9.0
3           CS102        Dan    Zidane       39.0     6.0
4           CS102      Aaron      Andy       32.0     NaN

In [21]:
classData.iloc[0:3]

         ModuleID Instructor Assistant  Enrolment  Rating
Row Zero    CS101      Aaron      Vera       38.0     9.0
Row One     CS101       Beth     Carol        NaN     9.0
2           CS101     Calvin      Andy       28.0     7.0

## 3.8.3 Selecting Rows and Columns

In [22]:
classData.iloc[0:5, 0:2]

         ModuleID Instructor
Row Zero    CS101      Aaron
Row One     CS101       Beth
2           CS101     Calvin
3           CS102        Dan
4           CS102      Aaron

In [23]:
classData.iloc[:, 2]

Row Zero      Vera
Row One      Carol
2             Andy
3           Zidane
4             Andy
5             Vera
6              Tim
7            Faith
8           Wesley
9             Vera
10             Tim
Name: Assistant, dtype: object

In [24]:
classData.iloc[:, [2]]

         Assistant
Row Zero      Vera
Row One      Carol
2             Andy
3           Zidane
4             Andy
5             Vera
6              Tim
7            Faith
8           Wesley
9             Vera
10             Tim

In [25]:
classData.iloc[:, 2:3]

         Assistant
Row Zero      Vera
Row One      Carol
2             Andy
3           Zidane
4             Andy
5             Vera
6              Tim
7            Faith
8           Wesley
9             Vera
10             Tim

In [26]:
classData.iloc[:, :-1]

         ModuleID Instructor Assistant  Enrolment
Row Zero    CS101      Aaron      Vera       38.0
Row One     CS101       Beth     Carol        NaN
2           CS101     Calvin      Andy       28.0
3           CS102        Dan    Zidane       39.0
4           CS102      Aaron      Andy       32.0
5           CS102       Beth      Vera        NaN
6           CS103      Peter       Tim       40.0
7           CS103        Eve     Faith       39.0
8           CS103       Gail    Wesley       30.0
9           CS104      Aaron      Vera       30.0
10          CS104        Dan       Tim       30.0

# 3.9 Updating a DataFrame

In [27]:
classData['AverageGPA'] = [44, 46, 47, 41, 45, 49, 40, 41, 45, 48, 42]

In [28]:
classData['AverageGPA'] = classData['AverageGPA']*0.1

In [29]:
classData.head()

         ModuleID Instructor Assistant  Enrolment  Rating  AverageGPA
Row Zero    CS101      Aaron      Vera       38.0     9.0         4.4
Row One     CS101       Beth     Carol        NaN     9.0         4.6
2           CS101     Calvin      Andy       28.0     7.0         4.7
3           CS102        Dan    Zidane       39.0     6.0         4.1
4           CS102      Aaron      Andy       32.0     NaN         4.5

# 3.10 Useful Methods in pandas

In [30]:
classData.sort_values(['Rating', 'AverageGPA'], ascending=False)

         ModuleID Instructor Assistant  Enrolment  Rating  AverageGPA
Row One     CS101       Beth     Carol        NaN     9.0         4.6
Row Zero    CS101      Aaron      Vera       38.0     9.0         4.4
7           CS103        Eve     Faith       39.0     9.0         4.1
9           CS104      Aaron      Vera       30.0     8.0         4.8
6           CS103      Peter       Tim       40.0     8.0         4.0
5           CS102       Beth      Vera        NaN     7.0         4.9
2           CS101     Calvin      Andy       28.0     7.0         4.7
3           CS102        Dan    Zidane       39.0     6.0         4.1
4           CS102      Aaron      Andy       32.0     NaN         4.5
8           CS103       Gail    Wesley       30.0     NaN         4.5
10          CS104        Dan       Tim       30.0     NaN         4.2

In [31]:
import numpy as np
myData = pd.DataFrame([[None], [np.NaN], [''], ['Apple']], columns = ['A'])
print(myData.isnull())

       A
0   True
1   True
2  False
3  False

In [32]:
myData.isnull().sum()

A    2
dtype: int64

In [33]:
classData.isnull().sum()

ModuleID      0
Instructor    0
Assistant     0
Enrolment     2
Rating        3
AverageGPA    0
dtype: int64

In [34]:
classData_rows_deleted = classData.dropna()
classData_columns_deleted  = classData.dropna(axis=1)

In [35]:
classData_rows_deleted

         ModuleID Instructor Assistant  Enrolment  Rating  AverageGPA
Row Zero    CS101      Aaron      Vera       38.0     9.0         4.4
2           CS101     Calvin      Andy       28.0     7.0         4.7
3           CS102        Dan    Zidane       39.0     6.0         4.1
6           CS103      Peter       Tim       40.0     8.0         4.0
7           CS103        Eve     Faith       39.0     9.0         4.1
9           CS104      Aaron      Vera       30.0     8.0         4.8

In [36]:
classData_columns_deleted

         ModuleID Instructor Assistant  AverageGPA
Row Zero    CS101      Aaron      Vera         4.4
Row One     CS101       Beth     Carol         4.6
2           CS101     Calvin      Andy         4.7
3           CS102        Dan    Zidane         4.1
4           CS102      Aaron      Andy         4.5
5           CS102       Beth      Vera         4.9
6           CS103      Peter       Tim         4.0
7           CS103        Eve     Faith         4.1
8           CS103       Gail    Wesley         4.5
9           CS104      Aaron      Vera         4.8
10          CS104        Dan       Tim         4.2

In [37]:
myData2 = pd.DataFrame([[1, 2], [3, 4]], columns = ['A', 'B'])
myArr = myData2.to_numpy()

print(type(myData2))
print(myData2)
print(type(myArr))
print(myArr)

<class 'pandas.core.frame.DataFrame'>
   A  B
0  1  2
1  3  4
<class 'numpy.ndarray'>
[[1 2]
 [3 4]]

In [38]:
myData3 = pd.DataFrame({'A':[1, 4, 7, 10], 'B':[1, 2, 3, 4], 'C':[2, 12, 1, 5]})

In [39]:
myData3.corr()

          A         B         C
A  1.000000  1.000000 -0.051988
B  1.000000  1.000000 -0.051988
C -0.051988 -0.051988  1.000000